<div class="center jumbotron">
 <header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Somya Belur Narayana", 'TBD', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Linkdin",   'https://www.linkedin.com/in/somyabn' %></li>
        <li><%= link_to "Twitter",   'https://@BnSomya' %></li>
        <li><%= link_to "Github", 'https://github.com/somyabn' %></li>
        <li><%= link_to "Home",   root_path %></li>
      </ul>
    </nav>
  </div>
</header>
</div>





